.alter__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .75rem;
}

.button-style{
    width: 120px;
    height: 32px;
    border-radius: 6px;
    transition: background-color 0.3s ease
}

.button-style:hover{
    background-color:#1c2935;
}

.inputFields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.input-field{
    border-radius: 6px;
    transition: background-color .3s ease;
}

.input-field:focus{
    background-color: #1c2935;
    border-color: #4a90e2;
    outline: none;
}