<div class="alter__content">
    <div class="inputFields">
        <input
         class="input-field" 
         type="text" 
         [(ngModel)]="bigNewsCover" 
         placeholder="Image Link">

        <input
         class="input-field" 
         type="text" 
         placeholder="Title Here" 
         [(ngModel)]="bigNewsTitle">

        <textarea
         class="input-field"
         placeholder="Description Here" 
         name=""
         id="bigNewsDescription"
         cols="60" 
         rows="5"
         [(ngModel)]="bigNewsDescription"
         ></textarea>
    </div>

    <div class="preview-content">
        <img src="{{bigNewsCover}}" alt="">
        <h1>{{bigNewsTitle}}</h1>
        <p>
            {{bigNewsDescription}}
        </p>
    </div>

    <div class="buttons">
        <div>
            <button class="button-style" (click)="addData()">Add Data</button>
        </div>

        <button class="button-style"
        >
            Salvar e Voltar
        </button>
    </div>
</div>
